#about-section {
  padding: 00px 150px;
  height: 100vh;
}

#about-section .about-cards {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}

#about-section .about-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 10px;
}

#about-section .section-header {
  color: white;
  font-size: 80px;
  font-weight: 300;
}
.section-header span {
  color: gold;
  font-weight: 700;
}
