.about-section {
  padding: 60px 150px;
}



.about-section .about-cards {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}

.about-section .about-card {
  display: flex;
  flex-direction: column;
  gap: 20px
  ;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 10px;
}

.section-header {
  color: white;
}
.section-header span {
    color: gold;
  }