.footer {
  width: 100%;
}

.footer main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
  background-color: rgb(37, 37, 37);
  color: white;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 10%;
  text-decoration: none;
}

.icon {
  border-radius: 50%;
  color: white;
}

#fb-icon {
  font-size: 35px;
  padding: 5px;
  transition: 0.5s all;
}

#insta-icon {
  font-size: 35px;
  padding: 8px;
  transition: 0.5s all;
}

#mail-icon {
  font-size: 35px;
  padding: 8px;
  transition: 0.5s all;
}

#LI-icon {
  font-size: 35px;
  padding: 8px;
  transition: 0.5s all;
}

.icon:hover {
  background-color: rgb(59, 59, 59);
  color: gold;
}

.address p {
  font-size: large;
  text-align: left;
  padding: 2px 0;
}

.footer .copyright {
  width: 100%;
  color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.671);
  text-align: center;
  font-size: x-small;
}
