@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav-bar {
  position: fixed;
  width: 97%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: transparent;
  z-index: 10;
}

.nav-bar img {
  width: 55px;
  height: 60px;
}
.nav-links {
  position: absolute;
  top: 30px;
  right: 47px;
  overflow: hidden;
  border-radius: 30px;
}

.menu-open .nav-links {
  background-color: white;
  padding: 60px 10px;
  padding-bottom: 40px;
  transition: all 0.4s;
  width: 300px;
}

.menu-closed .nav-links {
  background-color: transparent;
  transition: all 0.5s;
  width: 300px;

  transition-delay: 0.4s;
}

ul {
  margin: 30px;
  font-size: 25px;
  list-style-type: none;
  font-weight: 500;
}

.menu-open ul li {
  transform: rotateX(0deg);
  transition: all 0.7s;
  transition-delay: 0.4s;
  margin-top: 10px;
}

.menu-closed ul li {
  transform: rotateX(-90deg);
  transition: all 0.4s;
}

li {
  list-style: none;
  width: max-content;
}

/* .menu-closed ul,.menu-closed li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0);
    line-height: 0;
    letter-spacing: 0;
    transition: all 0.2s;
} */

a {
  color: black;
  font-family: "Poppins";
}

.nav-bar .nav-links a::after {
  display: block;
  content: "";
  width: 0%;
  background-color: gold;
  transition: 0.5s all;
  height: 2px;
}

.nav-bar .nav-links a:hover:after {
  width: 100%;
  left: 0;
}
