.projects-page {
  display: flex;
  flex-direction: column;
  gap: 50px;

}

.projects-page .header-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.218),rgba(0, 0, 0, 0.996));
  height: 100%;
  width: 100%;
  gap: 40px;
  padding: 50px;
}

.projects-page header {
  display: flex;
  background-repeat: no-repeat;
  background-size:cover;
  height: max-content;
  background-image: url("../Assets/microcontroller.jpg");
  width: 100%;
  background-position: 0px -100px;
}

.projects-page header h1 {
  font-size: 70px;
  font-weight: 600;
}

.projects-page header p{
  font-size: 25px;
  font-family: "Poppins";
}
.projects-page h1 {
  font-size: 60px;
  color: white;
  margin-left: 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 80px;
}
