.projects-page {
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
  gap: 50px;
}

.projects-page h1 {
  font-size: 60px;
  color: white;
  margin-left: 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
